.dayWordBox {
    color: black;
}

.dailyBox:hover {
    border-width: 5px;
}

.dailyBox {
    min-height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(175,176,179);
    margin: 8px;
    border-radius: 8%;
}

.calendarNav {
    /* background-color: rgb(175,176,179); */
    /* font-weight: bold; */
}

.calendarHead {
    border-color: rgb(175,176,179);
    margin: 2px;
}

.available:hover {
    cursor: pointer;
    border-width: 5px;
}

.available {
    cursor: pointer
}

.booked {
    background-color: rgb(175,176,179);
    color: rgb(206, 206, 206);
    cursor: default;
}

.own {
    background-color: rgb(7, 155, 32);
    color: rgb(255, 255, 255);
    cursor: default;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
    font-size: 38px;
}

.fa-arrow-alt-circle-left:hover, .fa-arrow-alt-circle-right:hover {
    font-size: 43px;
    cursor: pointer;
}